@import 'src/app/utils/style.utils.scss';

nav {
  min-height: 450px;
}

#curriculum {
  max-width: 95vw;
  max-height: 95vh;
}

#btn-download {
  background-color: $color-purple;
}

#btn-download:hover {
  background-color: $color-dark-purple;
}
