<div class="col-11 mx-auto nav justify-content-center mt-5 mb-4">
  <h4 class="card-title text-light" id="competencias">CURRÍCULO</h4>
</div>

<nav class="col-11 nav mx-auto justify-content-center mb-3">
  <embed id="curriculum" src="../../../../assets/me/Curriculo.pdf" type="application/pdf" />
</nav>

<div class="col-11 mx-auto nav justify-content-center mb-5">
  <a
    id="btn-download"
    class="btn btn-secondary"
    href="../../../../assets/me/Curriculo.pdf"
    download="Curriculo.pdf"
  >
    BAIXAR
  </a>
</div>

<app-gen-arrows></app-gen-arrows>
<app-gen-info></app-gen-info>
