<div class="d-flex justify-content-center mt-5">
  <div class="card-solid p-4">
    <div class="d-flex justify-content-between mb-3">
      <h4 class="card-title text-light">CURRÍCULO</h4>
      <a
        id="btn-download"
        class="btn btn-secondary align-self-end"
        href="../../../../assets/me/Curriculo.pdf"
        download="Curriculo.pdf"
      >
        BAIXAR
      </a>
    </div>

    <nav class="col-11 nav mx-auto justify-content-center mb-4">
      <embed id="curriculum" src="../../../../assets/me/Curriculo.pdf" type="application/pdf" />
    </nav>
  </div>
</div>

<app-gen-arrows></app-gen-arrows>
<app-gen-info></app-gen-info>
