<div class="col-11 mx-auto nav justify-content-center">
  <div class="card text-secondary m-5 w-100">
    <div class="card-body">
      <h5 class="card-title text-light">Rafael Modena Jakubovsky</h5>
      <div class="text-bg-dark card-subtitle mb-2 rounded-pill">
        <h6 class="m-3" id="resumo">Resumo</h6>
      </div>
      <p class="card-text">
        Sempre demonstrei afinidade com a tecnologia. Meu interesse inicial surgiu ao buscar
        soluções para eventualidades em dispositivos próprios ou de pessoas próximas, as quais
        frequentemente buscavam minha colaboração, reconhecendo minha disposição em ajudar. Em
        determinado momento, despertei curiosidade pela programação, inaugurando meu percurso com um
        curso de desenvolvimento de jogos em Java. Esse curso não apenas gerou um considerável
        interesse, mas também motivou-me a aprofundar meus conhecimentos nesse domínio e explorar
        outras áreas correlatas. Posteriormente, busquei aprimorar minha expertise participando de
        diversos cursos relacionados ao desenvolvimento de variados tipos de aplicações. Esse
        trajeto culminou na decisão de cursar Análise e Desenvolvimento de Sistemas, refletindo meu
        comprometimento em consolidar meu conhecimento e habilidades na área. Atualmente, estou em
        busca de oportunidades para iniciar minha carreira profissional, aplicando os conhecimentos
        adquiridos ao longo desse percurso de aprendizado contínuo.
      </p>
    </div>
  </div>
</div>

<app-gen-arrows></app-gen-arrows>
<app-gen-info></app-gen-info>
