<div class="footer border-top">
  <div class="container container-fluid fs-5">
    <div class="d-md-none mx-auto">
      <a class="mx-4 my-1 fw-normal" target="blank_" href="https://github.com/rafael-mj/"
        ><img id="logo" src="../../../../assets/icons/redirect/github-icon.png" alt="" />
      </a>
      <a class="mx-4 my-1 fw-normal" target="blank_" href="https://br.linkedin.com/in/rafaelmj/"
        ><img id="logo" src="../../../../assets/icons/redirect/linkedin-icon.png" alt="" />
      </a>
      <a class="mx-4 my-1 fw-normal" target="blank_" href="mailto:rafaeljakubovsky@hotmail.com"
        ><img id="logo" src="../../../../assets/icons/redirect/mail-icon.png" alt="" />
      </a>
    </div>

    <div class="d-none d-sm-block d-sm-none d-md-block mx-auto">
      <a
        class="mx-4 my-1 fw-normal text-white text-decoration-none"
        target="blank_"
        href="https://github.com/rafael-mj/"
        ><img id="logo" src="../../../../assets/icons/redirect/github-icon.png" alt="" /> GitHub
      </a>
      <a
        class="mx-4 my-1 fw-normal text-white text-decoration-none"
        target="blank_"
        href="https://br.linkedin.com/in/rafaelmj/"
        ><img id="logo" src="../../../../assets/icons/redirect/linkedin-icon.png" alt="" /> LinkedIn
      </a>
      <a
        class="mx-4 my-1 fw-normal text-white text-decoration-none"
        target="blank_"
        href="mailto:rafaeljakubovsky@hotmail.com"
        ><img id="logo" src="../../../../assets/icons/redirect/mail-icon.png" alt="" /> E-Mail
      </a>
    </div>
  </div>
</div>
