@import '../../../utils/StyleUtils.scss';

.footer {
  border-color: $color-purple !important;
  max-width: $screen-max-width;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}

#logo {
  max-height: 2.5em;
}
