<div class="info-back d-flex flex-row-reverse align-items-center position-fixed z-3">
  <div *ngIf="showedInfo" class="project-info p-3 d-flex align-items-center">
    <div class="d-grid">
      <div class="txt-shadow text-white text-center mb-1">Ferramentas: Angular e Bootstrap.</div>
      <div class="txt-shadow text-white text-center">Projeto disponível no GitHub.</div>
    </div>
  </div>

  <div (click)="updateInfo()" class="info-icon d-flex align-items-center">
    <span #InfoIcon class="mx-auto text-white">i</span>
  </div>
</div>
