<div class="col-8 mx-auto nav justify-content-start my-4">
  <h5 class="card-title text-light">COMPETÊNCIAS</h5>
</div>

<div class="col-8 mx-auto nav justify-content-around">
  <div class="card text-secondary mb-5 mx-1" style="width: 32vw">
    <div class="card-body">
      <h6 class="m-3 text-light">Desenvolvimento</h6>
      <ul>
        <li>Documentação</li>
        <li>GitHub</li>
        <li>Git</li>
        <li>Integrações</li>
        <li>Lógica de Programação</li>
        <li>POO</li>
      </ul>
    </div>
  </div>

  <div class="card text-secondary mb-5 mx-1" style="width: 32vw">
    <div class="card-body">
      <h6 class="m-3 text-light">Geral</h6>
      <ul>
        <li>Comprometimento</li>
        <li>Dedicação</li>
        <li>Fácil Aprendizado</li>
        <li>Resiliência</li>
        <li>Trabalho em Equipe</li>
      </ul>
    </div>
  </div>
</div>
