<div class="col-11 mx-auto nav justify-content-center my-4">
  <h5 class="card-title text-light">COMPETÊNCIAS</h5>
</div>

<div class="col-11 mx-auto nav justify-content-center">
  <div class="card text-secondary mb-5 mx-4" style="width: 35vw">
    <div class="card-body">
      <h6 class="m-3 text-light">Desenvolvimento</h6>
      <ul>
        <li>Lógica de Programação</li>
        <li>Documentação</li>
        <li>Integrações</li>
        <li>Front-End</li>
        <li>Back-End</li>
        <li>GitHub</li>
        <li>POO</li>
        <li>Git</li>
      </ul>
    </div>
  </div>

  <div class="card main-bg-color text-secondary mb-5 mx-4" style="width: 35vw">
    <div class="card-body">
      <h6 class="m-3 text-light">Geral</h6>
      <ul>
        <li>Trabalho em Equipe</li>
        <li>Fácil Aprendizado</li>
        <li>Compromentimento</li>
        <li>Resiliência</li>
        <li>Dedicação</li>
      </ul>
    </div>
  </div>
</div>
