.project-info {
  max-width: 30vh;
  height: auto;
  position: fixed;
  right: 65px;
  bottom: 22vh;
  font-size: smaller;
  font-weight: 500;
  border-radius: 20px 20px 0 20px;
  background: linear-gradient(to right, #8400ff, #800080);
}

.info-icon {
  position: fixed;
  width: 9vh;
  height: 9vh;
  right: 15px;
  bottom: 12vh;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s;
}

.info-icon:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
