<div class="w-75 h-100 m-auto mt-5 justify-content-center align-items-center">
  <div class="content-block px-5 py-4 d-flex">
    <div class="d-grid text-center">
      <h3 class="text-white mb-4">INFORMAÇÕES</h3>
      <span class="text-secondary">
        Atualmente, resido no <strong>interior de São Paulo</strong>. Em junho de 2024, concluí
        minha formação em <strong>Análise e Desenvolvimento de Sistemas</strong> na
        <a href="https://facens.br/a-facens/institucional" target="_blank">Facens</a>. No momento,
        estou cursando um <strong>MBA em Data Science e Analytics</strong> na
        <a href="https://mbauspesalq.com/sobre" target="_blank">USP ESALQ</a>, com conclusão
        prevista para abril de 2026. Tenho o hábito de criar projetos individuais que impulsionam
        meu aprimoramento prático dos conhecimentos adquiridos. Alguns desses projetos estão
        disponíveis em meu perfil no
        <a href="https://github.com/rafael-mj" target="_blank">GitHub</a>.
      </span>
    </div>
  </div>
</div>
