<div class="row">
  <div class="col-11 mx-auto nav justify-content-center">
    <div class="card text-bg-secondary m-5 w-100">
      <div class="card-body">
        <h5 class="card-title">Rafael Modena Jakubovsky</h5>
        <div class="text-bg-dark card-subtitle mb-2 rounded-pill">
          <h6 class="main-color m-3" id="resumo">Resumo</h6>
        </div>
        <p class="card-text">
          Sempre tive grande facilidade para lidar com a tecnologia e, portanto,
          procurei evoluir buscando informações para solucionar problemas que
          ocasionalmente ocorriam em meus dispositivos ou em aparelhos de
          pessoas próximas, que sempre me procuravam compreendendo que eu
          estaria disposto a ajudá-las, persistindo até garantir que tudo
          estivesse completamente resolvido, assim fui adquirindo certo
          conhecimento na área. Em determinado momento me despertou a
          curiosidade pela programação, foi quando dei início a alguns cursos,
          como desenvolvimento de jogos, onde era utilizada a linguagem Java,
          que gerou um grande interesse em evoluir meu conhecimento sobre o
          tema. Tudo isso me levou a cursar ADS e atualmente estou procurando
          iniciar minha carreira profissional na área.
        </p>
      </div>
    </div>
  </div>
</div>
