<div class="content m-4">
  <div class="text-center d-grid justify-content-center">
    <img class="logo m-auto" src="../../../../assets/icons/usa-icon.svg" alt="english-lvl" />
    <h5 class="f-geo text-white mt-1 mb-0">NÍVEL DE INGLÊS</h5>
    <div>
      <span class="text-secondary lvl">◉◉◉</span>
      <span class="text-secondary lvl-none">◉◉</span>
    </div>
  </div>

  <div class="text-center d-grid justify-content-center">
    <img class="logo m-auto" src="../../../../assets/icons/spain-icon.svg" alt="spanish-lvl" />
    <h5 class="f-geo text-white mt-1 mb-0">NÍVEL DE ESPANHOL</h5>
    <div>
      <span class="text-secondary lvl">◉◉</span>
      <span class="text-secondary lvl-none">◉◉◉</span>
    </div>
  </div>
</div>
