<div class="col-11 mx-auto nav justify-content-center my-4">
  <h5 class="card-title text-light" id="competencias">COMPETÊNCIAS</h5>
</div>

<div class="col-11 mx-auto nav justify-content-center">
  <div class="card text-secondary mb-5 mx-4" style="width: 35vw">
    <div class="card-body">
      <div class="text-bg-dark card-subtitle mb-2 rounded-pill">
        <h6 class="m-3">Desenvolvimento</h6>
      </div>
      <ul>
        <li>Lógica de Programação</li>
        <li>Documentação</li>
        <li>Integrações</li>
        <li>Front-End</li>
        <li>Back-End</li>
        <li>GitHub</li>
        <li>POO</li>
        <li>Git</li>
      </ul>
    </div>
  </div>

  <div class="card main-bg-color text-secondary mb-5 mx-4" style="width: 35vw">
    <div class="card-body">
      <div class="text-bg-dark card-subtitle mb-2 rounded-pill">
        <h6 class="m-3">Geral</h6>
      </div>
      <ul>
        <li>Trabalho em Equipe</li>
        <li>Fácil Aprendizado</li>
        <li>Compromentimento</li>
        <li>Persistência</li>
        <li>Dedicação</li>
      </ul>
    </div>
  </div>
</div>

<div class="col-11 mx-auto nav justify-content-center">
  <nav
    class="main-bg-color w-auto px-3"
    id="project-info"
    data-bs-theme="dark"
    style="padding: 5px 8px"
  >
    <div class="text-center">
      <span class="text-secondary text-left">NÍVEL DE INGLÊS: </span>
      <span class="text-secondary text-left lvl">◉◉◉</span>
      <span class="text-secondary text-left lvl-none">◉◉</span>
    </div>
  </nav>
</div>

<app-gen-arrows></app-gen-arrows>
<app-gen-info></app-gen-info>
