@import '../../../utils/style.utils.scss';

.footer {
  height: $screen-nav-size;
  max-width: $screen-max-width;
  padding: 10px;
}

#logo {
  max-height: 2em;
}

a {
  font-family: 'geo';
  word-spacing: 6px;
}
