<nav class="navigator navbar border-bottom navbar-expand-md z-1" data-bs-theme="dark">
  <div class="container-fluid fs-5">
    <a class="d-md-none" routerLink="/main">
      <img id="me-icon" class="p-2" src="../../../../assets/general/me.png" alt="" />
    </a>
    <div ngbDropdown class="dropdown d-md-none">
      <button
        ngbDropdownToggle
        class="btn btn-secondary"
        type="button"
        id="dropdownMenuBtn"
        aria-expanded="false"
      >
        <img
          class="mx-1 p-1 menu-symbol"
          src="../../../../assets/symbols/menu-symbol.svg"
          alt="menu"
        />
      </button>
      <ul class="dropdown-menu-end" ngbDropdownMenu>
        <li><a ngbDropdownItem routerLink="/main">INÍCIO</a></li>
        <li>
          <a *ngIf="showMainElements" ngbDropdownItem (click)="switchMainElement('about')"
            >* SOBRE</a
          >
        </li>
        <li>
          <a *ngIf="showMainElements" ngbDropdownItem (click)="switchMainElement('knowledge')"
            >* COMPETÊNCIAS</a
          >
        </li>
        <li>
          <a *ngIf="showMainElements" ngbDropdownItem (click)="switchMainElement('skills')"
            >* HABILIDADES</a
          >
        </li>
        <li>
          <a *ngIf="showMainElements" ngbDropdownItem (click)="switchMainElement('fluency')"
            >* FLUÊNCIA</a
          >
        </li>
        <li>
          <a *ngIf="showMainElements" ngbDropdownItem (click)="switchMainElement('info')"
            >* INFOS</a
          >
        </li>
        <li><a ngbDropdownItem routerLink="/curriculum">CURRÍCULO</a></li>
      </ul>
    </div>
    <div class="offcanvas offcanvas-end">
      <div class="offcanvas-body">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a #hMain routerLink="/main" class="nav-link">INÍCIO</a>
            </li>
            <li class="nav-item">
              <a
                #hAbout
                *ngIf="showMainElements"
                (click)="switchMainElement('about')"
                class="nav-link"
                >SOBRE</a
              >
              <span></span>
            </li>
            <li class="nav-item">
              <a
                #hKnowledge
                *ngIf="showMainElements"
                (click)="switchMainElement('knowledge')"
                class="nav-link"
                >COMPETÊNCIAS</a
              >
              <span></span>
            </li>
            <li class="nav-item">
              <a
                #hSkills
                *ngIf="showMainElements"
                (click)="switchMainElement('skills')"
                class="nav-link"
                >HABILIDADES</a
              >
              <span></span>
            </li>
            <li class="nav-item">
              <a
                #hFluency
                *ngIf="showMainElements"
                (click)="switchMainElement('fluency')"
                class="nav-link"
                >FLUÊNCIA</a
              >
              <span></span>
            </li>
            <li class="nav-item">
              <a
                #hInfo
                *ngIf="showMainElements"
                (click)="switchMainElement('info')"
                class="nav-link"
                >INFOS</a
              >
              <span></span>
            </li>
          </ul>
        </div>
        <a #hCV routerLink="/curriculum" class="d-flex align-items-center nav-link text-secondary"
          >CV</a
        >
      </div>
    </div>
  </div>
</nav>
