@keyframes rotateThis {
  from {
    transform: scale(1.5) rotate(0deg);
  }
  to {
    transform: scale(1.5) rotate(360deg);
  }
}

.animated-icon {
  user-select: none;
  height: 50px;
  width: 50px;
}

.animated-icon:hover {
  animation-name: rotateThis;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: grabbing;
}

nav {
  min-width: 370px;
}
