.arrow {
    border: none;
    font-weight: bold;
}
.arrow:hover {
    background-color: #660055 !important;
}

.arrow:disabled {
    background-color: #555 !important;
}

.arrow-column {
    min-width: 150px;
    max-width: 10vw;
}