/* Only NOT Mobile */
@media only screen and (hover:hover) and (pointer:fine) {
    .arrow:hover {
        background-color: #660055 !important;
    }
}

.arrow {
    border-radius: 2px;
}

.arrow {
    border: none;
    font-weight: bold;
}

.arrow:disabled {
    background-color: #555 !important;
}

.arrow-column {
    min-width: 150px;
    max-width: 10vw;
}