<div class="fixed-bottom navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="mx-auto nav justify-content-center">
    <a
      class="mx-5 my-1 fw-normal text-decoration-none text-light"
      target="blank_"
      href="https://github.com/rafael-mj/"
      ><img id="logo" src="../../assets/icons/github.png" alt="" /> GitHub
    </a>
    <a
      class="mx-5 my-1 text-decoration-none text-light"
      target="blank_"
      href="https://br.linkedin.com/in/rafaelmj/"
      ><img id="logo" src="../../assets/icons/linkedin.png" alt="" /> LinkedIn
    </a>
    <a
      class="mx-5 my-1 text-decoration-none text-light"
      href="mailto:rafaeljakubovsky@hotmail.com"
      ><img id="logo" src="../../assets/icons/mail.png" alt="" /> E-Mail
    </a>
  </div>
</div>
