<div class="col-11 mx-auto nav justify-content-center my-5">
  <nav class="navbar-fluid w-75" style="min-height: 70px; padding: 0 10%">
    <img
      class="m-3 animated-icon"
      id="icon-java"
      alt="Java"
      src="../../../../assets/icons/dev/java-icon.png"
    />
    <img class="m-3 animated-icon" alt="MySQL" src="../../../../assets/icons/dev/mysql-icon.png" />
    <img class="m-3 animated-icon" alt="HTML5" src="../../../../assets/icons/dev/html5-icon.png" />
    <img class="m-3 animated-icon" alt="CSS3" src="../../../../assets/icons/dev/css3-icon.png" />
    <img class="m-3 animated-icon" alt="JS" src="../../../../assets/icons/dev/js-icon.png" />
    <img
      class="m-3 animated-icon"
      alt="Bootstrap"
      src="../../../../assets/icons/dev/bootstrap-icon.png"
    />
    <img
      class="m-3 animated-icon"
      alt="Angular"
      src="../../../../assets/icons/dev/angularjs-icon.png"
    />
    <img class="m-3 animated-icon" alt="Vue" src="../../../../assets/icons/dev/vuejs-icon.png" />
  </nav>
</div>
