<div class="col-11 mx-auto nav justify-content-center my-5">
  <nav class="navbar-fluid w-75" style="min-height: 70px; padding: 0 10%">
    <img
      class="m-3 animated-icon"
      id="icon-java"
      alt="Java"
      src="../../../../assets/icons/java-icon.svg"
    />
    <img class="m-3 animated-icon" alt="Spring" src="../../../../assets/icons/spring-icon.svg" />
    <img class="m-3 animated-icon" alt="TS" src="../../../../assets/icons/ts-icon.svg" />
    <img class="m-3 animated-icon" alt="MySQL" src="../../../../assets/icons/mysql-icon.svg" />
    <img class="m-3 animated-icon" alt="HTML5" src="../../../../assets/icons/html5-icon.svg" />
    <img class="m-3 animated-icon" alt="CSS3" src="../../../../assets/icons/css3-icon.svg" />
    <img class="m-3 animated-icon" alt="Angular" src="../../../../assets/icons/angular-icon.svg" />
    <img class="m-3 animated-icon" alt="Vue" src="../../../../assets/icons/vuejs-icon.svg" />
  </nav>
</div>
