@keyframes rotate-right {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1.4) rotate(360deg);
  }
}

@keyframes rotate-left {
  0% {
    transform: scale(1.4) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(-360deg);
  }
}

.animated-icon {
  height: 50px;
  width: 50px;
  animation: rotate-left 0.82s forwards;
}

.animated-icon:hover {
  cursor: grabbing;
  animation: rotate-right 0.82s forwards;
}

nav {
  min-width: 370px;
}
