<div #main class="bg position-relative text-center w-100">
  <div class="col-12">
    <img id="bg-image" class="w-100" src="../../../../assets/general/background-main.png" alt="" />
    <div class="centered position-absolute">
      <div class="my-5">
        <h2>Rafael Modena Jakubovsky</h2>
        <h3>Desenvolvimento de Sistemas</h3>
      </div>
      <app-gen-devicons></app-gen-devicons>
    </div>
  </div>
</div>

<div class="pulse-arrows container-fluid mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center d-grid">
      <img
        id="pulse"
        class="my-2 mx-auto"
        src="../../../../assets/symbols/arrow-symbol.svg"
        alt="arrow"
      />
      <img
        id="pulse-secondary"
        class="my-2 mx-auto"
        src="../../../../assets/symbols/arrow-symbol.svg"
        alt="arrow"
      />
    </div>
  </div>
</div>

<div #about><app-con-about></app-con-about></div>
<div #knowledge><app-con-knowledge></app-con-knowledge></div>
<div #skills><app-con-skills></app-con-skills></div>
<div #fluency><app-con-fluency></app-con-fluency></div>
<div #info><app-con-info></app-con-info></div>

<app-gen-arrows></app-gen-arrows>
<app-gen-info></app-gen-info>
