<div class="bg w-100">
  <div class="col-12">
    <img src="../../../../assets/bg.png" alt="" />
    <div class="centered">
      <div class="my-5">
        <h2>Rafael Modena Jakubovsky</h2>
        <h3>Desenvolvimento de Sistemas</h3>
      </div>
      <app-gen-devicons></app-gen-devicons>
    </div>
  </div>
</div>

<app-scr-about></app-scr-about>
<app-scr-knowledge></app-scr-knowledge>
<app-scr-skills></app-scr-skills>
<app-scr-info></app-scr-info>
<app-gen-arrows></app-gen-arrows>
<app-gen-info></app-gen-info>
