<div #main class="bg w-100">
  <div class="col-12">
    <img src="../../../../assets/general/background-main.png" alt="" />
    <div class="centered">
      <div class="my-5">
        <h2>Rafael Modena Jakubovsky</h2>
        <h3>Desenvolvimento de Sistemas</h3>
      </div>
      <app-gen-devicons></app-gen-devicons>
    </div>
  </div>
</div>

<div class="position-absolute pulse-arrows container-fluid">
  <div class="row justify-content-center text-white">
    <div class="col-md-6 text-center d-grid">
      <h1 class="pulse">🞃</h1>
      <h5 class="pulse">🞃</h5>
    </div>
  </div>
</div>

<div #about><app-scr-about></app-scr-about></div>
<div #knowledge><app-scr-knowledge></app-scr-knowledge></div>
<div #skills><app-scr-skills></app-scr-skills></div>
<div #fluency><app-scr-fluency></app-scr-fluency></div>
<div #info><app-scr-info></app-scr-info></div>

<app-gen-arrows></app-gen-arrows>
<app-gen-info></app-gen-info>
