@import '../src/app/utils/StyleUtils.scss';

// Default Elements

html {
  overflow-y: auto;
  height: 100%;
}

body {
  min-height: 100%;
  background-color: rgb(15, 15, 15);
  padding-bottom: 5vh;
}

// Custom Elements

.navigator {
  min-height: 7.5vh;
}

.navbar a {
  user-select: none;
}

.card {
  min-width: 380px;
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.55);
  text-align: justify !important;
  background-color: $color-bg;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom, $color-purple, rgba(0, 0, 0, 0)) 1 100%;
  transition:
    all 0.6s ease,
    border-image 0.6s ease;
}

// Only Browser

@media only screen and (hover: hover) and (pointer: fine) {
  .card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease;
    cursor: default;
    border-width: 2px;
    border-radius: 2px;
    border-style: solid;
    border-image: linear-gradient(to top, $color-purple, rgba(0, 0, 0, 0)) 1 100%;
    transition:
      transform 0.6s ease,
      border-image 0.6s ease;
  }
}
