html {
  overflow-y: auto;
  height: 100%;
}

body {
  min-height: 100%;
  background-color: rgb(30, 30, 30);
  padding-bottom: 5vh;
}

.main-color {
  color: blueviolet;
}

.card {
  min-width: 400px;
}