<div class="row">
  <div class="col-11 mx-auto nav justify-content-center my-5">
    <nav
      class="navbar bg-body-tertiary w-75 rounded-pill"
      data-bs-theme="dark"
      style="min-height: 70px; padding: 0 10%"
    >
      <img
        alt="Java"
        height="50"
        width="60"
        src="https://raw.githubusercontent.com/jmnote/z-icons/master/svg/java.svg"
      />
      <img
        alt="MySQL"
        height="50"
        width="60"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mysql/mysql-plain.svg"
      />
      <img
        alt="HTML5"
        height="50"
        width="60"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg"
      />
      <img
        alt="CSS3"
        height="50"
        width="60"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg"
      />
      <img
        alt="JS"
        height="50"
        width="60"
        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
      />
      <img
        alt="Bootstrap"
        height="50"
        width="60"
        src="https://raw.githubusercontent.com/jmnote/z-icons/5dca329190fa53931f4cdab984acc668e149d3e5/svg/bootstrap.svg"
      />
      <img
        alt="Angular"
        height="50"
        width="60"
        src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/angularjs/angularjs-original.svg"
      />
      <img
        alt="Vue"
        height="50"
        width="60"
        src="https://raw.githubusercontent.com/devicons/devicon/55609aa5bd817ff167afce0d965585c92040787a/icons/vuejs/vuejs-original.svg"
      />
    </nav>
  </div>
</div>
