$color-purple: #9900bb;
$color-dark-gray: #0f0f0f;
$color-gray: #535353;
$color-text: #6c757d;
$color-dark-purple: #4d0440;
$color-light-purple: #d100ff;
$color-light-blue: #00ffff;

$screen-max-width: 2500px;
$screen-nav-size: 70px !important;
