/* Only NOT Mobile */
@media only screen and (hover:hover) and (pointer:fine) {
    .card:hover {
        transform: scale(1.02);
        transition: transform 0.2s ease;
        cursor: default;
    }
}

.navbar a {
    user-select: none;
}

.card {
    min-width: 380px;
    box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.55);
    text-align: justify !important;
}

.main-color {
color: #9900bb !important;
}

.border-main-color {
    border-color: #9900bb !important;
}

.purple-background {
    background-color: #9900bb !important;
}

.main-bg-color {
background-color: #171717;
}