<hr class="w-75 mx-auto main-color" />

<div class="col-8 mx-auto nav justify-content-center my-4">
  <div class="card main-bg-color text-secondary m-5 w-100">
    <div class="card-body">
      <h5 class="card-title text-light" id="infos">Informações</h5>
      <div class="text-bg-dark card-subtitle mb-2 rounded-pill">
        <h6 class="main-color m-3" id="resumo">Sobre</h6>
      </div>
      <p class="card-text">
        Atualmente resido na cidade de Boituva-SP e estou cursando Análise e
        Desenvolvimento de Sistemas na Facens, situada em Sorocaba-SP. Costumo
        criar alguns projetos individuais que me motivam a desenvolver o
        aprendizado na prática. Alguns desses meus projetos estão presentes em
        meu GitHub.
      </p>
    </div>
  </div>
</div>

<hr class="w-75 mx-auto main-color" />
