<div class="w-75 h-100 m-auto mt-5 justify-content-center align-items-center">
  <div class="content-block p-5 d-flex">
    <div class="d-grid text-center">
      <h3 class="text-white mb-4">INFORMAÇÕES</h3>
      <span class="text-secondary">
        Atualmente, resido em <b>Boituva-SP</b>, e estou matriculado no curso de
        <b>Análise e Desenvolvimento de Sistemas</b> na Faculdade de Engenharia de Sorocaba
        (Facens), situada em Sorocaba-SP. Tenho o hábito de criar projetos individuais que
        impulsionam meu aprimoramento prático dos conhecimentos adquiridos. Alguns desses projetos
        estão disponíveis em meu perfil no GitHub.
      </span>
    </div>
  </div>
</div>
