<div class="col-8 mx-auto nav justify-content-center my-4">
  <div class="card text-secondary m-5 w-100">
    <div class="card-body">
      <h5 class="card-title text-light" id="infos">Informações</h5>
      <div class="text-bg-dark card-subtitle mb-2 rounded-pill">
        <h6 class="m-3" id="resumo">Sobre</h6>
      </div>
      <p class="card-text">
        Atualmente, resido em <b>Boituva-SP</b>, e estou matriculado no curso de
        <b>Análise e Desenvolvimento de Sistemas</b> na Faculdade de Engenharia de Sorocaba
        (Facens), situada em Sorocaba-SP. Tenho o hábito de criar projetos individuais que
        impulsionam meu aprimoramento prático dos conhecimentos adquiridos. Alguns desses projetos
        estão disponíveis em meu perfil no GitHub.
      </p>
    </div>
  </div>
</div>
