<div class="text-center d-grid mb-5 mt-3 justify-content-center">
  <img
    class="logo m-auto"
    src="../../../../assets/icons/attributes/usa-icon.png"
    alt="english-lvl"
  />
  <span class="text-secondary text-left text-white">NÍVEL DE INGLÊS</span>
  <div>
    <span class="text-secondary text-left lvl">◉◉◉</span>
    <span class="text-secondary text-left lvl-none">◉◉</span>
  </div>
</div>

<div class="text-center d-grid mb-0 mt-5 justify-content-center">
  <img
    class="logo m-auto"
    src="../../../../assets/icons/attributes/spain-icon.png"
    alt="spanish-lvl"
  />
  <span class="text-secondary text-left text-white">NÍVEL DE ESPANHOL</span>
  <div>
    <span class="text-secondary text-left lvl">◉◉</span>
    <span class="text-secondary text-left lvl-none">◉◉◉</span>
  </div>
</div>
