<div class="text-center d-grid m-4">
  <span class="text-secondary text-left text-white">NÍVEL DE INGLÊS</span>
  <div>
    <span class="text-secondary text-left lvl">◉◉◉</span>
    <span class="text-secondary text-left lvl-none">◉◉</span>
  </div>
</div>

<div class="text-center d-grid m-4">
  <span class="text-secondary text-left text-white">NÍVEL DE ESPANHOL</span>
  <div>
    <span class="text-secondary text-left lvl">◉◉</span>
    <span class="text-secondary text-left lvl-none">◉◉◉</span>
  </div>
</div>
